.main{
    padding: 12px;
    margin-bottom: 20px;
}
.card{
    width: 40%;
    position: absolute;
    margin-bottom: 50px;
    z-index: 999;
    border: 2px solid rgb(82, 82, 82);
    padding: 10px;
    background-color: white;
}
.row{
    margin-top: 10px;
}
#valor{
    font-size: 18px;
    color: rgb(82, 82, 82)
}
#titulo{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgb(82, 82, 82)
}