.main{
    padding: 12px;
    margin-top: 20px;
}
.containerValor{
    flex-direction: row;
}
.card{
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
#valor{
    font-size: 18px;
    margin-left: 5px;
}
#titulo{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}