.main{
    background-image: radial-gradient(circle at 120.71% 50%, #806fc9 0, #6a63c5 25%, #4f57c0 50%, #264cbc 75%, #0043b7 100%);
}
h3, h6{
    color:white;
    font-weight: bold;
}
h4{
    color: white;
    font-size: 15;
    text-align: center;
    letter-spacing: 2px;
}
.p-2{
    background-color: #0043b7;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
ion-card-subtitle,
ion-card-title{
    color: white;
    font-weight: bold;
}
span{
     padding: 5px; 
     font-size: 12px;
}
.row{
    padding: 10px;
    margin-top: 2px;
    flex-direction: row;
}
.albumContainer{
    padding: 10px;
    background-color: white;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}