
.main{
    flex-grow: 1;
    background-image: radial-gradient(circle at 120.71% 50%, #806fc9 0, #6a63c5 25%, #4f57c0 50%, #264cbc 75%, #0043b7 100%);
}
.containerTitulo{
    align-items: center;
    padding: 10px;
}
.containerUsers{
    height: 100%;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#titulo{
    color: white;
    font-size: 15;
    text-align: center;
    letter-spacing: 2px;
}
#titulo > span {
    font-weight: bold;
}
#usuarioT{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

